---
import Layout from '../layouts/Layout.astro';
import Body from '../components/Body.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Iniciar sesión en Facebook'>
	<main>
		<Body/>
	</main>
	<Footer/>
</Layout>