---
import Layout from '../layouts/LayoutRecover.astro';
import Header from '../components/HeaderRecover.astro';
import Body from '../components/BodyRecover.astro';
import Footer from '../components/FooterRecover.astro';
---

<Layout>
    <Header/>
    <main>
        <Body/>
    </main>
    <Footer/>
</Layout>