<div class="flex items-center justify-center">
    <div class="bg-[#fefeff] px-4 py-4 mt-[80px] rounded-xl w-[500px] shadow-xl">
        <h1 class="font-bold text-xl text-[#162642] pb-4">Recupera tu cuenta</h1>
        <div class="bg-[#e4e7e9] w-[500px] h-[1px] -ml-5"></div>
        <div class="flex flex-wrap mt-3">
            <p class="text-[18px] leading-5">Ingresa tu correo electrónico o número de celular para buscar tu cuenta.</p>
        </div>

        <input type="text" placeholder="Correo electrónico o número de celular" class="border border-gray-300 w-full mt-4 py-3 pl-3 placeholder:text-[#7b7782] rounded-md focus:placeholder:text-zinc-400 focus:outline-none">
        <div class="bg-[#e4e7e9] w-[500px] h-[1px] -ml-5 mt-5"></div>
        <div class="flex">
            <div class="flex-grow"></div>
            <button class="bg-[#e5e6ea]  text-[#5b5962] font-bold px-4 rounded-md py-[6px] mt-3 -mb-1 mr-3">Cancelar</button>
            <button class="bg-[#1977f3] text-white font-bold px-5 rounded-md py-[6px] mt-3 -mb-1 hover:bg-blue-600 transition-all duration-100">Buscar</button>
        </div>
    </div>
</div>