<div class="flex">
    <div class="mt-[176px] ml-[158px]">
        <img src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg" alt="" class="w-[320px]">
        <div class="w-[500px] ml-8 -mt-3">
            <p class="text-info">Facebook te ayuda a comunicarte y compartir con las personas que forman parte de tu vida.</p>
        </div>
    </div>

    <div>
        <div class="bg-[#fefeff] ml-[78px] h-[350px] w-[395px] px-4 pt-4 rounded-lg shadow-xl mt-[133px] flex flex-col">
            <input type="text" name="" id="" placeholder="Correo electrónico o número de teléfono" class="border border-gray-300 h-[50px] rounded-md px-4 py-[25px] placeholder:text-[17px] placeholder:text-zinc-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:placeholder:text-zinc-300">
            <div id="container" class="flex w-full">
                <input type="password" name="" id="password" placeholder="Contraseña" class="border border-gray-300 w-[363px] h-[50px] rounded-md px-4 py-[25px] placeholder:text-[17px] placeholder:text-zinc-400 mt-3 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:placeholder:text-zinc-300 tracking-tighter">
                <img id="eye" src="/eye-slash.svg" alt="" class="w-5 -ml-8 mt-2 opacity-0 cursor-pointer">
            </div>
            <button class="bg-[#0866ff] tracking-wide text-white font-bold text-xl text-center mt-4 rounded-md py-[10px] px-5">Iniciar sesión</button>
            <a href="" class="text-[#0866ff] text-center text-[14.5px] tracking-tight mt-3 hover:underline">¿Olvidaste tu contraseña?</a>
            <div class="bg-zinc-300 h-[1px] mt-5"></div>
            <div class="flex items-center justify-center">
                <button id="sign-button" class="bg-[#43b72b] hover:bg-[#499e38] transition-all duration-200 mt-6 text-white tracking-wide font-bold rounded-lg text-[16px] px-[18px] py-3">Crear cuenta nueva</button>
            </div>
        </div>
    
        <div class="ml-[114px] mt-7 w-[330px] text-center">
            <p class="text-[15px]"><strong class="font-semibold">Crea una página</strong> para una celebridad, una marca o un negocio.</p>
        </div>
    </div>

</div>

<style>
    .text-info{
        font-size: 29px;
        line-height: 36px;
    }
</style>

<script src="../js/show-password.js"></script>